@import '../assets/fonts/fonts.scss';

$primary-light: #f2f2f2;
$primary-darker: #fafafa;
$primary-darkest: #111111;
$items-dark: #f1f1f1;
$white: #fff;
$black: #000;
$accent: #01a7fd;

$max-width-page: 1180px;
$max-width-content: 676px;

$side-padding: 50px;

$breakpoint-tablet: 800px;
$breakpoint-mobile-big: 600px;
$breakpoint-mobile-small: 480px;

$font-main: 'Montserrat', Arial, sans-serif;

$vertical-gap: 10px;
$horizontal-gap: 18px;

$transition-duration: 0.5s;

@mixin clickable {
  cursor: pointer;
  transition: opacity $transition-duration ease;
  &:hover {
    opacity: 50%;
    @media screen and (hover: none) {
      opacity: 100%;
    }
  }
}

@mixin text-main($height, $lineHeight, $color) {
  margin: 0;
  font-family: $font-main;
  font-size: $height;
  font-weight: 400;
  line-height: $lineHeight;
  text-align: left;
  color: $color;
}

@mixin inputWrapper {
  width: 100%;
  padding: 8px 16px 6px;
  border: 1px solid $items-dark;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 4px;
  background-color: $white;
}

@mixin button($type) {
  @include text-main(14px, 24px, $accent);
  @include clickable;
  padding: 10px 20px;
  @if $type == weak {
    color: $accent;
  }
  @if $type == bordered {
    border: 2px solid $accent;
  }
  @if $type == strong {
    color: $white;
    background-color: $accent;
  }
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@mixin flex-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

@mixin section-title {
  margin: 0;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: $primary-darkest;
}
